.box1 {
    width: 200px;
    height: 200px;
    background-image: url('../images/10.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.box2 {
    width: 200px;
    height: 200px;
    background-image: url('../images/11.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.box3 {
    width: 200px;
    height: 200px;
    background-image: url('../images/14.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}